# Directories
node_modules/
log/
pids/


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml


# Specific Files
default.json
run.sh
config/config.json
test.sh
*.log

log/actionhero-192.168.1.151.log
